section {
  display: table;
}

.search-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.search-button-row {
  display: table-cell;
  max-width: 600px;
}

.search-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
